.postimage{
	max-height: 400px;
	margin: 0px;
}
.postcommant{
	margin-top: 8px;
	margin-bottom: 8px;
}
.addpost{
	margin-top: 8px;
	margin-bottom: 8px;
}
.postchange{
	margin-top: 8px;
	margin-bottom: 8px;
}
